In [13]:
import pandas as pd
import numpy as np
from glob import glob

In [ ]:
#glob() 함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디렉터리의 리스트를 반환

#폴더 내에 있는 모든 csv파일 목록 불러오기
files=glob('/Users/ejju/Desktop/3rd_project/ MDIS_기상관측자료/지상_일_20220718_15746_데이터/*.csv')
total=pd.DataFrame() #빈 데이터프레임을 하나 생성하기
for file in files:
    temp=pd.read_csv(file, sep=',', encoding='euc-kr') #csv파일을 하나씩 열어 임시 데이터프레임으로 생성
    total=pd.concat([total,temp]) #전체 데이터프레임에 임시 데이터프레임들을 추가하여 넣기
    
# 아래처럼 일일이 파일을 불러와서 합쳐줄 필요없음
# df1=pd.read_csv('C:/3rd_project/dataset_mac_0715/dataset/2014_2020_지상관측통계_일/2014_지상_일.csv',encoding='euc-kr')
# df2=pd.read_csv('C:/3rd_project/dataset_mac_0715/dataset/2014_2020_지상관측통계_일/2015_지상_일.csv',encoding='euc-kr')
# df3=pd.read_csv('C:/3rd_project/dataset_mac_0715/dataset/2014_2020_지상관측통계_일/2016_지상_일.csv',encoding='euc-kr')
# df4=pd.read_csv('C:/3rd_project/dataset_mac_0715/dataset/2014_2020_지상관측통계_일/2017_지상_일.csv',encoding='euc-kr')
# df5=pd.read_csv('C:/3rd_project/dataset_mac_0715/dataset/2014_2020_지상관측통계_일/2018_지상_일.csv',encoding='euc-kr')
# df6=pd.read_csv('C:/3rd_project/dataset_mac_0715/dataset/2014_2020_지상관측통계_일/2019_지상_일.csv',encoding='euc-kr')
# df7=pd.read_csv('C:/3rd_project/dataset_mac_0715/dataset/2014_2020_지상관측통계_일/2020_지상_일.csv',encoding='euc-kr')
# df = pd.concat([df1, df2, df3,df4,df5,df6,df7])

In [ ]:
total.to_csv('/Users/ejju/Desktop/3rd_project/ MDIS_기상관측자료/지상_일_20220718_15746_데이터/weather_7yr.csv', index=False)

In [30]:
df=pd.read_csv('/Users/ejju/Desktop/3rd_project/ MDIS_기상관측자료/지상_일_20220718_15746_데이터/total_weather_7yr.csv')
df.info()

/var/folders/hq/n1bxsy297pjfnb_sxvrk2k8r0000gn/T/ipykernel_2890/1252756702.py:1: DtypeWarning: Columns (54) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/Users/ejju/Desktop/3rd_project/ MDIS_기상관측자료/지상_일_20220718_15746_데이터/total_weather_7yr.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240663 entries, 0 to 240662
Data columns (total 61 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   지점번호        240663 non-null  int64
 1   지점명         240663 non-null  object
 2   관측일         240663 non-null  int64
 3   평균기온        240385 non-null  float64
 4   일최고기온       240619 non-null  float64
 5   일최고기온시각     240634 non-null  float64
 6   일최저기온       240617 non-null  float64
 7   일최저기온시각     240634 non-null  float64
 8   일평균현지기압     240330 non-null  float64
 9   일최고현지기압     240279 non-null  float64
 10  일최고현지기압시각   240297 non-null  float64
 11  일최저현지기압     240195 non-null  float64
 12  일최저현지기압시각   240297 non-null  float64
 13  일평균해면기압     240327 non-null  float64
 14  일최고해면기압     240579 non-null  float64
 15  일최고해면기압시각   240589 non-null  float64
 16  일최저해면기압     240527 non-null  float64
 17  일최저해면기압시각   240591 non-null  float64
 18  일평균상대습도     240212 non-null  float64
 19  일최소상대습도     240576 non-null  float64
 20  일최소상대습도시각   240578 non-null  float64
 21  일평균수증기압     240207 non-null  float64
 22  일최고수증기압     240388 non-null  float64
 23  일최고수증기압시각   240399 non-null  float64
 24  일최저수증기압     240395 non-null  float64
 25  일최저수증기압시각   240399 non-null  float64
 26  일평균풍속       240424 non-null  float64
 27  일합성풍속       233021 non-null  float64
 28  일합성풍향       233021 non-null  float64
 29  일최대풍속       240517 non-null  float64
 30  일최대풍속시각     240519 non-null  float64
 31  일최대풍속풍향     240519 non-null  float64
 32  일최대순간풍속     240517 non-null  float64
 33  일최대순간풍속시각   240518 non-null  float64
 34  일최대순간풍속풍향   240516 non-null  float64
 35  풍정합         240407 non-null  float64
 36  일최다풍향       233021 non-null  float64
 37  일강수량        88086 non-null   float64
 38  10분최다강수량    55767 non-null   float64
 39  10분최다강수량시각  40233 non-null   float64
 40  1시간최다강수량    55779 non-null   float64
 41  1시간최다강수량시각  41719 non-null   float64
 42  9_9 강수량     19815 non-null   float64
 43  일최심신적설      1728 non-null    float64
 44  일최심신적설시각    1661 non-null    float64
 45  일최심적설       2546 non-null    float64
 46  일최심적설시각     2512 non-null    float64
 47  합계깊이신적설     1765 non-null    float64
 48  일평균전운량      128770 non-null  float64
 49  일평균중하층운량    123517 non-null  float64
 50  최저운고        43224 non-null   float64
 51  최저운고시각      43224 non-null   float64
 52  최다운량        128894 non-null  float64
 53  최다운량시각      128894 non-null  float64
 54  최다운형        40084 non-null   object
 55  일합계일조시간     240251 non-null  float64
 56  일합계일사량      103904 non-null  float64
 57  일평균지면온도     240443 non-null  float64
 58  일합계소형증발량    54533 non-null   float64
 59  일합계대형증발량    47361 non-null   float64
 60  일평균이슬점온도    69224 non-null   float64
dtypes: float64(57), int64(2), object(2)
memory usage: 112.0+ MB

In [31]:
df.head()

,지점번호,지점명,관측일,평균기온,일최고기온,일최고기온시각,일최저기온,일최저기온시각,일평균현지기압,일최고현지기압,...,최저운고시각,최다운량,최다운량시각,최다운형,일합계일조시간,일합계일사량,일평균지면온도,일합계소형증발량,일합계대형증발량,일평균이슬점온도
0,100,대관령,20200101,-6.5,-2.5,1258.0,-11.5,1.0,934.8,936.4,...,NaN,2.0,1000.0,NaN,8.6,11.59,-6.1,NaN,NaN,NaN
1,100,대관령,20200102,-4.4,-0.4,1356.0,-9.0,503.0,933.7,935.8,...,NaN,8.0,2300.0,NaN,8.1,10.96,-4.7,NaN,NaN,NaN
2,100,대관령,20200103,-3.2,2.5,1415.0,-7.4,753.0,931.4,932.8,...,NaN,7.0,500.0,NaN,8.8,10.95,-4.0,NaN,NaN,NaN
3,100,대관령,20200104,-4.2,1.6,1409.0,-9.9,2358.0,931.1,934.3,...,NaN,6.0,600.0,NaN,8.9,11.31,-4.5,NaN,NaN,NaN
4,100,대관령,20200105,-5.5,4.6,1402.0,-14.2,809.0,937.0,938.3,...,NaN,10.0,1900.0,NaN,8.3,12.25,-4.5,NaN,NaN,NaN

In [32]:
#강원, 경북 지역의 기상정보만 불러오기
condition=(df.지점번호==105)|(df.지점번호==100)|(df.지점번호==106)|(df.지점번호==104)|(df.지점번호==93)\
|(df.지점번호==214)|(df.지점번호==90)|(df.지점번호==121)|(df.지점번호==114)|(df.지점번호==211)|(df.지점번호==217)\
|(df.지점번호==95)|(df.지점번호==101)|(df.지점번호==216)|(df.지점번호==212)|(df.지점번호==283)|(df.지점번호==279)\
|(df.지점번호==273)|(df.지점번호==271)|(df.지점번호==137)|(df.지점번호==136)|(df.지점번호==277)|(df.지점번호==272)\
|(df.지점번호==281)|(df.지점번호==115)|(df.지점번호==130)|(df.지점번호==278)|(df.지점번호==276)|(df.지점번호==138)

df=df[condition]

In [33]:
#산불발생파일과 합치기 위해 각 지점을 강원,경북으로 표기한 '발생장소_시도'열 생성 
new_col=np.where(((df.지점번호==105)|(df.지점번호==100)|(df.지점번호==106)|(df.지점번호==104)|(df.지점번호==93)\
|(df.지점번호==214)|(df.지점번호==90)|(df.지점번호==121)|(df.지점번호==114)|(df.지점번호==211)|(df.지점번호==217)\
|(df.지점번호==95)|(df.지점번호==101)|(df.지점번호==216)|(df.지점번호==212)),'강원','경북')

df.insert(0,'발생장소_시도',new_col,True)

In [34]:
df.head()

,발생장소_시도,지점번호,지점명,관측일,평균기온,일최고기온,일최고기온시각,일최저기온,일최저기온시각,일평균현지기압,...,최저운고시각,최다운량,최다운량시각,최다운형,일합계일조시간,일합계일사량,일평균지면온도,일합계소형증발량,일합계대형증발량,일평균이슬점온도
0,강원,100,대관령,20200101,-6.5,-2.5,1258.0,-11.5,1.0,934.8,...,NaN,2.0,1000.0,NaN,8.6,11.59,-6.1,NaN,NaN,NaN
1,강원,100,대관령,20200102,-4.4,-0.4,1356.0,-9.0,503.0,933.7,...,NaN,8.0,2300.0,NaN,8.1,10.96,-4.7,NaN,NaN,NaN
2,강원,100,대관령,20200103,-3.2,2.5,1415.0,-7.4,753.0,931.4,...,NaN,7.0,500.0,NaN,8.8,10.95,-4.0,NaN,NaN,NaN
3,강원,100,대관령,20200104,-4.2,1.6,1409.0,-9.9,2358.0,931.1,...,NaN,6.0,600.0,NaN,8.9,11.31,-4.5,NaN,NaN,NaN
4,강원,100,대관령,20200105,-5.5,4.6,1402.0,-14.2,809.0,937.0,...,NaN,10.0,1900.0,NaN,8.3,12.25,-4.5,NaN,NaN,NaN

In [35]:
#각 관측소지점에서 측정한 기상인자 값들의 평균으로 '강원', '경북' 큰 단위 지역의 기상인자 값으로 사용할 것임
df_group_mean=df.groupby(['발생장소_시도','관측일']).mean()
df_group_mean.reset_index(inplace=True)
df_group_mean.drop('지점번호',axis=1,inplace=True)

In [36]:
df_group_mean

,발생장소_시도,관측일,평균기온,일최고기온,일최고기온시각,일최저기온,일최저기온시각,일평균현지기압,일최고현지기압,일최고현지기압시각,...,최저운고,최저운고시각,최다운량,최다운량시각,일합계일조시간,일합계일사량,일평균지면온도,일합계소형증발량,일합계대형증발량,일평균이슬점온도
0,강원,20140101,3.630769,6.361538,1403.384615,-0.330769,713.153846,985.015385,988.123077,1991.230769,...,8.000000,866.666667,8.000000,1450.000000,6.069231,6.922,0.130769,2.066667,NaN,NaN
1,강원,20140102,0.823077,6.284615,1390.615385,-3.961538,1452.230769,992.546154,994.338462,1220.230769,...,10.000000,300.000000,1.500000,333.333333,8.253846,8.726,-0.376923,2.166667,NaN,NaN
2,강원,20140103,1.546154,7.123077,1374.153846,-3.538462,938.846154,989.376923,992.823077,1.692308,...,8.333333,1300.000000,8.500000,700.000000,3.515385,5.204,-0.253846,0.650000,NaN,NaN
3,강원,20140104,-0.623077,3.584615,994.538462,-4.423077,806.692308,992.100000,993.592308,1922.692308,...,7.500000,516.666667,8.500000,750.000000,2.153846,3.554,-0.815385,1.833333,NaN,NaN
4,강원,20140105,-0.684615,3.930769,1363.307692,-4.369231,2197.615385,995.415385,998.238462,2169.307692,...,7.833333,266.666667,8.666667,383.333333,4.323077,5.684,-0.153846,1.066667,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5109,경북,20201227,2.042857,7.457143,1410.785714,-2.485714,592.357143,1007.385714,1009.528571,271.714286,...,NaN,NaN,9.857143,707.142857,1.650000,5.588,1.314286,NaN,NaN,NaN
5110,경북,20201228,3.350000,11.985714,1430.428571,-2.050000,788.785714,1008.214286,1010.035714,1174.000000,...,NaN,NaN,8.571429,700.000000,7.215385,10.445,2.757143,NaN,NaN,NaN
5111,경북,20201229,2.828571,10.757143,1358.428571,-2.592857,796.071429,1003.635714,1008.371429,138.214286,...,2.000000,2000.000000,10.000000,935.714286,2.942857,7.462,2.528571,NaN,NaN,NaN
5112,경북,20201230,-6.478571,0.814286,3.928571,-9.778571,2339.142857,1002.435714,1006.721429,2342.071429,...,1.000000,600.000000,10.000000,100.000000,7.485714,9.804,-2.385714,NaN,NaN,NaN
5113,경북,20201231,-6.564286,-1.428571,1518.285714,-12.121429,583.214286,1008.007143,1009.635714,1430.928571,...,2.000000,100.000000,6.571429,1257.142857,7.350000,9.684,-4.471429,NaN,NaN,NaN

In [37]:
df_group_mean.to_csv('local_weather_7yr.csv',index=False)