In [289]:
import pandas as pd

In [290]:
df_raw=pd.read_csv('weather_7yr.csv')

c:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (54) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [291]:
#강원, 경북 지역의 기상정보만 불러오기
condition=(df_raw.지점번호==105)|(df_raw.지점번호==100)|(df_raw.지점번호==106)|(df_raw.지점번호==104)|(df_raw.지점번호==93)|(df_raw.지점번호==214)|(df_raw.지점번호==90)|(df_raw.지점번호==121)|(df_raw.지점번호==114)|(df_raw.지점번호==211)|(df_raw.지점번호==217)|(df_raw.지점번호==95)|(df_raw.지점번호==101)|(df_raw.지점번호==216)|(df_raw.지점번호==212)|(df_raw.지점번호==283)|(df_raw.지점번호==279)|(df_raw.지점번호==273)|(df_raw.지점번호==271)|(df_raw.지점번호==137)|(df_raw.지점번호==136)|(df_raw.지점번호==277)|(df_raw.지점번호==272)|(df_raw.지점번호==281)|(df_raw.지점번호==115)|(df_raw.지점번호==130)|(df_raw.지점번호==278)|(df_raw.지점번호==276)|(df_raw.지점번호==138)|(df_raw.지점번호==152)

df=df_raw[condition]

In [292]:
local_name=[]
for row in df['지점번호']:
    if (row==105) | (row==100) | (row==106) | (row==104) | (row==93) | (row==214) | (row==90) | (row==121) | (row==114) | (row==211) | (row==217) | (row==95) | (row==101) | (row==216) | (row==212):
        local_name.append('강원')
    else:
        local_name.append('경북')

df.insert(0,"발생장소_시도", local_name,True)

In [293]:
df_gangwon=df[df.발생장소_시도=='강원']
#강원도 내 여러 관측소의 값들의 평균값을 기상인자로 사용할 것임 
df_gangwon_mean=df_gangwon.groupby('관측일').mean()
df_gangwon_mean.reset_index(inplace=True)

#'발생장소_시도'열 만들기:어느 지역의 기상인자들인지를 표시하기 위해 '강원'으로 채워진 열을 만듬. 차후 병합을 위해 컬럼명은 산불파일과 일치시킴 
name=[]
for i in range(len(df_gangwon_mean)):
    name.append('강원')
df_gangwon_mean.insert(0,'발생장소_시도',name, True)

In [294]:
df_gangwon_mean

,발생장소_시도,관측일,지점번호,평균기온,일최고기온,일최고기온시각,일최저기온,일최저기온시각,일평균현지기압,일최고현지기압,...,최저운고,최저운고시각,최다운량,최다운량시각,일합계일조시간,일합계일사량,일합계소형증발량,일합계대형증발량,일평균지면온도,일평균이슬점온도
0,강원,20140101,137.846154,3.630769,6.361538,1403.384615,-0.330769,713.153846,985.015385,988.123077,...,8.000000,866.666667,8.000000,1450.000000,6.069231,6.922000,2.066667,NaN,0.130769,NaN
1,강원,20140102,137.846154,0.823077,6.284615,1390.615385,-3.961538,1452.230769,992.546154,994.338462,...,10.000000,300.000000,1.500000,333.333333,8.253846,8.726000,2.166667,NaN,-0.376923,NaN
2,강원,20140103,137.846154,1.546154,7.123077,1374.153846,-3.538462,938.846154,989.376923,992.823077,...,8.333333,1300.000000,8.500000,700.000000,3.515385,5.204000,0.650000,NaN,-0.253846,NaN
3,강원,20140104,137.846154,-0.623077,3.584615,994.538462,-4.423077,806.692308,992.100000,993.592308,...,7.500000,516.666667,8.500000,750.000000,2.153846,3.554000,1.833333,NaN,-0.815385,NaN
4,강원,20140105,137.846154,-0.684615,3.930769,1363.307692,-4.369231,2197.615385,995.415385,998.238462,...,7.833333,266.666667,8.666667,383.333333,4.323077,5.684000,1.066667,NaN,-0.153846,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2552,강원,20201227,134.642857,3.114286,9.057143,1402.357143,-2.364286,105.000000,995.685714,998.071429,...,NaN,NaN,9.846154,546.153846,4.757143,7.518571,NaN,NaN,1.442857,NaN
2553,강원,20201228,134.642857,3.935714,10.750000,1378.285714,-0.428571,1384.071429,997.142857,998.821429,...,NaN,NaN,9.000000,1207.692308,7.242857,8.964286,NaN,NaN,2.650000,NaN
2554,강원,20201229,134.642857,0.757143,5.785714,1291.285714,-2.778571,954.000000,993.300000,997.528571,...,4.000000,1500.000000,10.000000,892.307692,1.778571,3.675714,NaN,NaN,0.314286,NaN
2555,강원,20201230,134.642857,-8.864286,-1.321429,1.000000,-12.578571,2317.571429,992.007143,996.385714,...,NaN,NaN,10.000000,107.692308,7.300000,10.272857,NaN,NaN,-3.742857,NaN
2556,강원,20201231,134.642857,-8.971429,-3.500000,1477.142857,-14.442857,525.928571,996.342857,998.135714,...,NaN,NaN,5.846154,992.307692,7.750000,10.532857,NaN,NaN,-6.142857,NaN

In [295]:
df_kyoungbuk=df[df.발생장소_시도=='경북']
#경북 내 여러 관측소의 값들의 평균값을 기상인자로 사용할 것임 
df_kyoungbuk_mean=df_kyoungbuk.groupby('관측일').mean()
df_kyoungbuk_mean.reset_index(inplace=True)

#'발생장소_시도'열 만들기:어느 지역의 기상인자들인지를 표시하기 위해 '경북'으로 채워진 열을 만듬. 차후 병합을 위해 컬럼명은 산불파일과 일치시킴 
name=[]
for i in range(len(df_kyoungbuk_mean)):
    name.append('경북')
df_kyoungbuk_mean.insert(0,'발생장소_시도',name, True)

In [296]:
df_kyoungbuk_mean

,발생장소_시도,관측일,지점번호,평균기온,일최고기온,일최고기온시각,일최저기온,일최저기온시각,일평균현지기압,일최고현지기압,...,최저운고,최저운고시각,최다운량,최다운량시각,일합계일조시간,일합계일사량,일합계소형증발량,일합계대형증발량,일평균지면온도,일평균이슬점온도
0,경북,20140101,219.866667,4.980000,8.840000,1386.866667,-0.186667,762.600000,998.986667,1001.320000,...,10.0,925.0,5.000000,1340.000000,7.206667,9.260,3.033333,NaN,1.653333,NaN
1,경북,20140102,219.866667,2.540000,8.846667,1400.133333,-2.453333,1661.533333,1005.653333,1007.646667,...,10.0,300.0,6.000000,1720.000000,8.213333,9.880,2.433333,NaN,1.220000,NaN
2,경북,20140103,219.866667,1.373333,9.300000,1478.400000,-4.513333,512.666667,1002.473333,1006.153333,...,25.6,1100.0,9.000000,1040.000000,3.806667,6.515,1.466667,NaN,0.140000,NaN
3,경북,20140104,219.866667,1.446667,7.913333,1236.866667,-3.726667,939.666667,1003.986667,1005.880000,...,7.0,1400.0,9.200000,1100.000000,5.980000,8.805,0.866667,NaN,0.840000,NaN
4,경북,20140105,219.866667,1.753333,7.033333,1350.866667,-1.840000,1650.600000,1007.653333,1010.520000,...,7.2,480.0,9.600000,640.000000,5.040000,7.650,1.300000,NaN,1.726667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2552,경북,20201227,219.866667,2.273333,7.640000,1393.066667,-2.206667,568.733333,1007.700000,1009.840000,...,NaN,NaN,9.866667,680.000000,1.640000,5.588,NaN,NaN,1.440000,NaN
2553,경북,20201228,219.866667,3.633333,12.126667,1431.800000,-1.673333,771.666667,1008.500000,1010.286667,...,NaN,NaN,8.400000,660.000000,7.335714,10.445,NaN,NaN,2.886667,NaN
2554,경북,20201229,219.866667,3.106667,11.080000,1357.333333,-2.313333,903.000000,1003.893333,1008.686667,...,2.0,2000.0,10.000000,986.666667,2.986667,7.462,NaN,NaN,2.686667,NaN
2555,경북,20201230,219.866667,-6.333333,0.880000,7.466667,-9.660000,2339.133333,1002.706667,1006.993333,...,1.0,600.0,10.000000,100.000000,7.580000,9.804,NaN,NaN,-2.266667,NaN
2556,경북,20201231,219.866667,-6.380000,-1.233333,1518.600000,-11.906667,578.600000,1008.313333,1009.960000,...,2.0,100.0,6.533333,1326.666667,7.460000,9.684,NaN,NaN,-4.360000,NaN

In [297]:
df=pd.concat([df_gangwon_mean,df_kyoungbuk_mean])

In [298]:
df.drop(['지점번호'],axis=1, inplace=True)

In [299]:
df_sort=df.sort_values('관측일')

In [300]:
df_sort

,발생장소_시도,관측일,평균기온,일최고기온,일최고기온시각,일최저기온,일최저기온시각,일평균현지기압,일최고현지기압,일최고현지기압시각,...,최저운고,최저운고시각,최다운량,최다운량시각,일합계일조시간,일합계일사량,일합계소형증발량,일합계대형증발량,일평균지면온도,일평균이슬점온도
0,강원,20140101,3.630769,6.361538,1403.384615,-0.330769,713.153846,985.015385,988.123077,1991.230769,...,8.000000,866.666667,8.000000,1450.000000,6.069231,6.922000,2.066667,NaN,0.130769,NaN
0,경북,20140101,4.980000,8.840000,1386.866667,-0.186667,762.600000,998.986667,1001.320000,2354.266667,...,10.000000,925.000000,5.000000,1340.000000,7.206667,9.260000,3.033333,NaN,1.653333,NaN
1,경북,20140102,2.540000,8.846667,1400.133333,-2.453333,1661.533333,1005.653333,1007.646667,1207.533333,...,10.000000,300.000000,6.000000,1720.000000,8.213333,9.880000,2.433333,NaN,1.220000,NaN
1,강원,20140102,0.823077,6.284615,1390.615385,-3.961538,1452.230769,992.546154,994.338462,1220.230769,...,10.000000,300.000000,1.500000,333.333333,8.253846,8.726000,2.166667,NaN,-0.376923,NaN
2,강원,20140103,1.546154,7.123077,1374.153846,-3.538462,938.846154,989.376923,992.823077,1.692308,...,8.333333,1300.000000,8.500000,700.000000,3.515385,5.204000,0.650000,NaN,-0.253846,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2554,강원,20201229,0.757143,5.785714,1291.285714,-2.778571,954.000000,993.300000,997.528571,213.000000,...,4.000000,1500.000000,10.000000,892.307692,1.778571,3.675714,NaN,NaN,0.314286,NaN
2555,경북,20201230,-6.333333,0.880000,7.466667,-9.660000,2339.133333,1002.706667,1006.993333,2342.200000,...,1.000000,600.000000,10.000000,100.000000,7.580000,9.804000,NaN,NaN,-2.266667,NaN
2555,강원,20201230,-8.864286,-1.321429,1.000000,-12.578571,2317.571429,992.007143,996.385714,2170.642857,...,NaN,NaN,10.000000,107.692308,7.300000,10.272857,NaN,NaN,-3.742857,NaN
2556,강원,20201231,-8.971429,-3.500000,1477.142857,-14.442857,525.928571,996.342857,998.135714,1212.857143,...,NaN,NaN,5.846154,992.307692,7.750000,10.532857,NaN,NaN,-6.142857,NaN
2556,경북,20201231,-6.380000,-1.233333,1518.600000,-11.906667,578.600000,1008.313333,1009.960000,1492.733333,...,2.000000,100.000000,6.533333,1326.666667,7.460000,9.684000,NaN,NaN,-4.360000,NaN

In [301]:
df_sort.to_csv('weather_7yr_specific_local_mean.csv',index=False)